<!DOCTYPE html>
<html>
    <head>
        <title>Pwc Bewerbung</title>
        <script src="node_modules/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-for="item in gamestar_rss.items">
            <!-- original version
                <h1>{{item.title}}</h1>
                <p>{{item.pubDate}}</p>
                <p v-html="item.content"></p>
                <a v-bind:href="item.link">Read More</a>
                <br>
            -->
                <h1 class="title">{{item.title}}</h1>
                <p class="dates">By {{item.creator}} on {{item.pubDate}}</p>
                <a v-bind:href="item.link" v-if="containsKey(item, 'enclosure')">
                    <img class="image" v-bind:src="item.enclosure.url"/>
                </a>
                <p class="content">{{item.contentSnippet}}</p>
            </div>
        </div>
        <style>
            #app{
                background-color: rgb(255, 163, 199);
            }
            .title, p, a{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            a{
                color: darkmagenta;
            }
            .title{
                text-align: center;
                font-size: 500%;
            }
            .image{
                width: 90%;
                padding-left: 5%;
            }
            .dates{
                padding-left: 5%;
            }
            .content{
                padding-left: 5%;
                font-size: 200%;
            }
        </style>
        <script>
            var app = new Vue({
              el: '#app',
              methods:{
                containsKey(obj, key){
                    return Object.keys(obj).includes(key);
                }
              },
              data: {
                gamestar_rss :  {
    "items": [
        {
            "creator": "Matthias Hohn",
            "title": "Hardware-Ticker - Alles zur Verfügbarkeit von Grafikkarten, CPUs und Konsolen",
            "link": "https://www.gamestar.de/artikel/hardware-ticker-grafikkarten-cpu-ps5,3369448.html",
            "pubDate": "Fri, 14 May 2021 05:30:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/hardware-ticker_6137900.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Matthias Hohn",
            "content": "<a href=\"https://www.gamestar.de/artikel/hardware-ticker-grafikkarten-cpu-ps5,3369448.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/hardware-ticker_6137900.jpg\"/></a>Ihr wollt eine PS5 oder eine RTX 3070 kaufen und keine Mondpreise zahlen? GameStar zeigt euch, welche Shops Hardware und Konsolen anbieten.",
            "contentSnippet": "Ihr wollt eine PS5 oder eine RTX 3070 kaufen und keine Mondpreise zahlen? GameStar zeigt euch, welche Shops Hardware und Konsolen anbieten.",
            "guid": "https://www.gamestar.de/artikel/hardware-ticker-grafikkarten-cpu-ps5,3369448.html",
            "isoDate": "2021-05-14T05:30:00.000Z"
        },
        {
            "creator": "Christian Just",
            "title": "Apex Legends - Der Shooter verpasst den zwei übermächtigsten Waffen dicke Nerfs",
            "link": "https://www.gamestar.de/artikel/apex-legends-nerf-bocek-spitfire,3369719.html",
            "pubDate": "Thu, 13 May 2021 15:50:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/apex-legends-läuft-stark-auf-steam-und-soll-bald-eine-bessere-waffenbalance-bekommen_6139007.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Christian Just",
            "content": "<a href=\"https://www.gamestar.de/artikel/apex-legends-nerf-bocek-spitfire,3369719.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/apex-legends-läuft-stark-auf-steam-und-soll-bald-eine-bessere-waffenbalance-bekommen_6139007.jpg\"/></a>Nach dem Legacy-Update stehen in Apex Legends jetzt Balance-Verbesserungen an. Es trifft die Spitfire und den Bocek-Bogen.",
            "contentSnippet": "Nach dem Legacy-Update stehen in Apex Legends jetzt Balance-Verbesserungen an. Es trifft die Spitfire und den Bocek-Bogen.",
            "guid": "https://www.gamestar.de/artikel/apex-legends-nerf-bocek-spitfire,3369719.html",
            "isoDate": "2021-05-13T15:50:00.000Z"
        },
        {
            "creator": "Christian Just",
            "title": "Gratis bei Epic - Ein Spiel mit 83er-Wertung, das oft übersehen wird",
            "link": "https://www.gamestar.de/artikel/gratis-epic-kostenlos-lions-song,3369699.html",
            "pubDate": "Thu, 13 May 2021 15:02:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/the-lions-song-ist-diese-woche-gratis-im-epic-store-und-entführt-euch-in-ein-wien-des-frühen-20-jahrhunderts_6138840.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Christian Just",
            "content": "<a href=\"https://www.gamestar.de/artikel/gratis-epic-kostenlos-lions-song,3369699.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/the-lions-song-ist-diese-woche-gratis-im-epic-store-und-entführt-euch-in-ein-wien-des-frühen-20-jahrhunderts_6138840.jpg\"/></a>The Lion's Song ist diese Woche kostenlos im Epic Store verfügbar. Wir zeigen euch, was euch in dem bemerkenswerten Abenteuerspiel aus Wien erwartet.",
            "contentSnippet": "The Lion's Song ist diese Woche kostenlos im Epic Store verfügbar. Wir zeigen euch, was euch in dem bemerkenswerten Abenteuerspiel aus Wien erwartet.",
            "guid": "https://www.gamestar.de/artikel/gratis-epic-kostenlos-lions-song,3369699.html",
            "isoDate": "2021-05-13T15:02:00.000Z"
        },
        {
            "creator": "Dennis Zirkler",
            "title": "Anno 1800: Reisezeit  - Neue Gebäude, Rohstoffe und Spielmechaniken erklärt",
            "link": "https://www.gamestar.de/artikel/anno-1800-reisezeit-gebaeude-rohstoffe-mechaniken,3369714.html",
            "pubDate": "Thu, 13 May 2021 15:00:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/anno-1800-reisezeit_6138986.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Dennis Zirkler",
            "content": "<a href=\"https://www.gamestar.de/artikel/anno-1800-reisezeit-gebaeude-rohstoffe-mechaniken,3369714.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/anno-1800-reisezeit_6138986.jpg\"/></a>Ubisoft verrät, wie ihr die Touristen im neuen DLC Reisezeit glücklich macht: Mit Hotels und Restaurants! Wir erklären euch, wie die neuen Gebäude funktionieren.",
            "contentSnippet": "Ubisoft verrät, wie ihr die Touristen im neuen DLC Reisezeit glücklich macht: Mit Hotels und Restaurants! Wir erklären euch, wie die neuen Gebäude funktionieren.",
            "guid": "https://www.gamestar.de/artikel/anno-1800-reisezeit-gebaeude-rohstoffe-mechaniken,3369714.html",
            "isoDate": "2021-05-13T15:00:00.000Z"
        },
        {
            "creator": "Nils Raettig",
            "title": "Battlefield 6 - Wird das Spiel unnötig ausgebremst? Diskussionen um Last-Gen-Release",
            "link": "https://www.gamestar.de/artikel/battlefield-6-last-gen-release,3369715.html",
            "pubDate": "Thu, 13 May 2021 13:59:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/battlefield-6-last-gen-teaser_6138995.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Nils Raettig",
            "content": "<a href=\"https://www.gamestar.de/artikel/battlefield-6-last-gen-release,3369715.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/battlefield-6-last-gen-teaser_6138995.jpg\"/></a>Battlefield 6 erscheint nicht nur für den PC und die aktuellen Konsolen, sondern auch für die PS4 und die Xbox One. Was bedeutet das für die Technik des Spiels?",
            "contentSnippet": "Battlefield 6 erscheint nicht nur für den PC und die aktuellen Konsolen, sondern auch für die PS4 und die Xbox One. Was bedeutet das für die Technik des Spiels?",
            "guid": "https://www.gamestar.de/artikel/battlefield-6-last-gen-release,3369715.html",
            "isoDate": "2021-05-13T13:59:00.000Z"
        },
        {
            "creator": "Nils Raettig",
            "title": "AMD Radeon RX 6600 XT - Vielversprechende Spieler-Grafikkarte mit großem „Aber“",
            "link": "https://www.gamestar.de/artikel/amd-radeon-rx-6600-xt-geruechte,3369712.html",
            "pubDate": "Thu, 13 May 2021 11:55:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/amd-rx-6600-xt-geruechte_6138985.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Nils Raettig",
            "content": "<a href=\"https://www.gamestar.de/artikel/amd-radeon-rx-6600-xt-geruechte,3369712.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/amd-rx-6600-xt-geruechte_6138985.jpg\"/></a>Es gibt neue Gerüchte zu AMDs kommender Radeon RX 6600 XT. Es dürfte sich demnach um eine sehr flotte und effiziente Grafikkarte handeln, aber nicht ohne Haken.",
            "contentSnippet": "Es gibt neue Gerüchte zu AMDs kommender Radeon RX 6600 XT. Es dürfte sich demnach um eine sehr flotte und effiziente Grafikkarte handeln, aber nicht ohne Haken.",
            "guid": "https://www.gamestar.de/artikel/amd-radeon-rx-6600-xt-geruechte,3369712.html",
            "isoDate": "2021-05-13T11:55:00.000Z"
        },
        {
            "creator": "Nils Raettig",
            "title": "Da schlägt das Herz höher - Bei Gaming-Monitoren macht ihr selten Kompromisse",
            "link": "https://www.gamestar.de/artikel/gaming-tfts-umfrage,3369710.html",
            "pubDate": "Thu, 13 May 2021 10:50:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/umfrage-monitore-bildwiederholrate-teaser_6138984.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Nils Raettig",
            "content": "<a href=\"https://www.gamestar.de/artikel/gaming-tfts-umfrage,3369710.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/umfrage-monitore-bildwiederholrate-teaser_6138984.jpg\"/></a>Spielermonitore haben viele Eigenschaften, eine davon ist aber ganz besonders wichtig. Unsere aktuelle Umfrage zeigt, dass euch das auch bewusst ist.",
            "contentSnippet": "Spielermonitore haben viele Eigenschaften, eine davon ist aber ganz besonders wichtig. Unsere aktuelle Umfrage zeigt, dass euch das auch bewusst ist.",
            "guid": "https://www.gamestar.de/artikel/gaming-tfts-umfrage,3369710.html",
            "isoDate": "2021-05-13T10:50:00.000Z"
        },
        {
            "title": "Allein in Skyrim - Mörderischer Fan hat (fast) alles und jeden im Rollenspiel umgebracht",
            "link": "https://www.gamestar.de/artikel/allein-in-skyrim-moerderischer-spieler-alle-umgebracht,3369695.html",
            "pubDate": "Thu, 13 May 2021 07:15:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/skyrim-dawnguard-plus_6093535.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "content": "<a href=\"https://www.gamestar.de/artikel/allein-in-skyrim-moerderischer-spieler-alle-umgebracht,3369695.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/skyrim-dawnguard-plus_6093535.jpg\"/></a>Ein Spieler hat im Rollenspiel The Elder Scrolls: Skyrim über 4.600 Lebewesen getötet und ist nun ganz allein auf weiter Flur.",
            "contentSnippet": "Ein Spieler hat im Rollenspiel The Elder Scrolls: Skyrim über 4.600 Lebewesen getötet und ist nun ganz allein auf weiter Flur.",
            "guid": "https://www.gamestar.de/artikel/allein-in-skyrim-moerderischer-spieler-alle-umgebracht,3369695.html",
            "isoDate": "2021-05-13T07:15:00.000Z"
        },
        {
            "creator": "Sören Wetterau",
            "title": "GTA 5 - Forscher zeigen, wie Fotorealismus in Spielen bald aussehen könnte",
            "link": "https://www.gamestar.de/artikel/gta-5-forscher-fotorealismus,3369698.html",
            "pubDate": "Wed, 12 May 2021 16:24:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/gta-5-fotorealimus-via-forschungsprojekt_6138849.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Sören Wetterau",
            "content": "<a href=\"https://www.gamestar.de/artikel/gta-5-forscher-fotorealismus,3369698.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/gta-5-fotorealimus-via-forschungsprojekt_6138849.jpg\"/></a>Eine kleine Forschergruppe jagt den Fotorealismus: Für GTA 5 zeigen sie bereits erste, spannende Ergebnisse. Selbst ausprobieren lässt es sich noch nicht.",
            "contentSnippet": "Eine kleine Forschergruppe jagt den Fotorealismus: Für GTA 5 zeigen sie bereits erste, spannende Ergebnisse. Selbst ausprobieren lässt es sich noch nicht.",
            "guid": "https://www.gamestar.de/artikel/gta-5-forscher-fotorealismus,3369698.html",
            "isoDate": "2021-05-12T16:24:00.000Z"
        },
        {
            "title": "Ubisoft - Release-Strategie geändert, das nächste Assassin's Creed könnte Free2Play werden",
            "link": "https://www.gamestar.de/artikel/assassins-creed-free2play-ubisoft,3369691.html",
            "pubDate": "Wed, 12 May 2021 13:23:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/assassins-creed-valhalla_6105989.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "content": "<a href=\"https://www.gamestar.de/artikel/assassins-creed-free2play-ubisoft,3369691.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/assassins-creed-valhalla_6105989.jpg\"/></a>Ubisoft gab bekannt, in Zukunft seine Release-Strategie zu ändern. Free2Play-Spiele rücken mehr in den Fokus. Könnte uns das ein Free2Play-Assassin's Creed bringen?",
            "contentSnippet": "Ubisoft gab bekannt, in Zukunft seine Release-Strategie zu ändern. Free2Play-Spiele rücken mehr in den Fokus. Könnte uns das ein Free2Play-Assassin's Creed bringen?",
            "guid": "https://www.gamestar.de/artikel/assassins-creed-free2play-ubisoft,3369691.html",
            "isoDate": "2021-05-12T13:23:00.000Z"
        },
        {
            "title": "Minecraft - Dank DLC fliegt ihr bald über die Klötzchenwelt",
            "link": "https://www.gamestar.de/artikel/drachen-in-minecraft-dlc,3369687.html",
            "pubDate": "Wed, 12 May 2021 13:00:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/minecraft-drachen-dlc_6138829.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "content": "<a href=\"https://www.gamestar.de/artikel/drachen-in-minecraft-dlc,3369687.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/minecraft-drachen-dlc_6138829.jpg\"/></a>Mit dem neuen Minecraft DLC entdeckt ihr die Welt aus einer neuen Perspektive und reitet dabei auf Drachen. ",
            "contentSnippet": "Mit dem neuen Minecraft DLC entdeckt ihr die Welt aus einer neuen Perspektive und reitet dabei auf Drachen.",
            "guid": "https://www.gamestar.de/artikel/drachen-in-minecraft-dlc,3369687.html",
            "isoDate": "2021-05-12T13:00:00.000Z"
        },
        {
            "creator": "Sören Wetterau",
            "title": "Galactic Civilizations 4 - Wird komplett umgebaut, um mit Stellaris mithalten zu können",
            "link": "https://www.gamestar.de/artikel/galactic-civilizations-4-angekuendigt,3369674.html",
            "pubDate": "Wed, 12 May 2021 10:15:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/galactic-civilizations-4-ankündigung_6138756.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Sören Wetterau",
            "content": "<a href=\"https://www.gamestar.de/artikel/galactic-civilizations-4-angekuendigt,3369674.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/galactic-civilizations-4-ankündigung_6138756.jpg\"/></a>Noch mehr Strategie im Anflug: Stardock kündigt Galactic Civilizations 4 an. Die Weltraumstrategie soll vor allem größer werden.",
            "contentSnippet": "Noch mehr Strategie im Anflug: Stardock kündigt Galactic Civilizations 4 an. Die Weltraumstrategie soll vor allem größer werden.",
            "guid": "https://www.gamestar.de/artikel/galactic-civilizations-4-angekuendigt,3369674.html",
            "isoDate": "2021-05-12T10:15:00.000Z"
        },
        {
            "creator": "Alexander Köpf",
            "title": "Kaputte SSDs - Wie die Kryptowährung Chia schnelle Speichermedien in Windeseile zerstört",
            "link": "https://www.gamestar.de/artikel/kaputte-ssds-kryptowaehrung-chia,3369668.html",
            "pubDate": "Wed, 12 May 2021 09:13:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/gs-chia-zerstört-ssds_6138654.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Alexander Köpf",
            "content": "<a href=\"https://www.gamestar.de/artikel/kaputte-ssds-kryptowaehrung-chia,3369668.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/gs-chia-zerstört-ssds_6138654.jpg\"/></a>Chia ist bei den Kryptowährungen aktuell in aller Munde und gleichzeitig gar nicht gut für die Haltbarkeit von SSDs. Warum ist das so?",
            "contentSnippet": "Chia ist bei den Kryptowährungen aktuell in aller Munde und gleichzeitig gar nicht gut für die Haltbarkeit von SSDs. Warum ist das so?",
            "guid": "https://www.gamestar.de/artikel/kaputte-ssds-kryptowaehrung-chia,3369668.html",
            "isoDate": "2021-05-12T09:13:00.000Z"
        },
        {
            "creator": "Christian Just",
            "title": "Titanfall 2 - Begnadete Speedrunner brechen alte Weltrekorde gleich zwei Mal",
            "link": "https://www.gamestar.de/artikel/titanfall-2-speedrunner-brechen-alte-weltrekorde,3369661.html",
            "pubDate": "Wed, 12 May 2021 05:00:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/titanfall-2-ist-2016-erschienen-treibt-speedrunner-aber-weiterhin-zu-höchstleistungen-an_6138573.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Christian Just",
            "content": "<a href=\"https://www.gamestar.de/artikel/titanfall-2-speedrunner-brechen-alte-weltrekorde,3369661.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/titanfall-2-ist-2016-erschienen-treibt-speedrunner-aber-weiterhin-zu-höchstleistungen-an_6138573.jpg\"/></a>Der Ego-Shooter Titanfall 2 erlebt einen zweiten Frühling. Das befeuert auch die Rekordjagd im Parcours »The Gauntlet«.",
            "contentSnippet": "Der Ego-Shooter Titanfall 2 erlebt einen zweiten Frühling. Das befeuert auch die Rekordjagd im Parcours »The Gauntlet«.",
            "guid": "https://www.gamestar.de/artikel/titanfall-2-speedrunner-brechen-alte-weltrekorde,3369661.html",
            "isoDate": "2021-05-12T05:00:00.000Z"
        },
        {
            "creator": "Stephanie Schlottag",
            "title": "Strategie-Event HOW - Überraschend viele neue Spiele angekündigt",
            "link": "https://www.gamestar.de/artikel/strategie-event-home-of-wargamers-alle-ankuendigungen-trailer,3369654.html",
            "pubDate": "Tue, 11 May 2021 17:00:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/warhammer-40k-battlesector_6138566.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Stephanie Schlottag",
            "content": "<a href=\"https://www.gamestar.de/artikel/strategie-event-home-of-wargamers-alle-ankuendigungen-trailer,3369654.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/warhammer-40k-battlesector_6138566.jpg\"/></a>Entwickler Slitherine hat im Event Home of Wargamers neue Trailer und Infos veröffentlicht. Wir sammeln für euch alle Ankündigungen in einer Übersicht.",
            "contentSnippet": "Entwickler Slitherine hat im Event Home of Wargamers neue Trailer und Infos veröffentlicht. Wir sammeln für euch alle Ankündigungen in einer Übersicht.",
            "guid": "https://www.gamestar.de/artikel/strategie-event-home-of-wargamers-alle-ankuendigungen-trailer,3369654.html",
            "isoDate": "2021-05-11T17:00:00.000Z"
        },
        {
            "creator": "Dennis Zirkler",
            "title": "Baldur's Gate - Das »D&D-Diablo«: Original Dark Alliance erscheint 2021 für PC",
            "link": "https://www.gamestar.de/artikel/dark-alliance-2021-fuer-pc,3369658.html",
            "pubDate": "Tue, 11 May 2021 16:05:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/gs-baldurs-gate-dark-alliance_6138567.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Dennis Zirkler",
            "content": "<a href=\"https://www.gamestar.de/artikel/dark-alliance-2021-fuer-pc,3369658.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/gs-baldurs-gate-dark-alliance_6138567.jpg\"/></a>Nach über 20 Jahren erscheint das Action-Rollenspiel Baldur's Gate: Dark Alliance 2021 auch auf Steam - vielleicht sogar mit 4K-Grafik.",
            "contentSnippet": "Nach über 20 Jahren erscheint das Action-Rollenspiel Baldur's Gate: Dark Alliance 2021 auch auf Steam - vielleicht sogar mit 4K-Grafik.",
            "guid": "https://www.gamestar.de/artikel/dark-alliance-2021-fuer-pc,3369658.html",
            "isoDate": "2021-05-11T16:05:00.000Z"
        },
        {
            "title": "Valheim - Neue Mod lässt euch endlich richtig große Schiffe bauen",
            "link": "https://www.gamestar.de/artikel/valheim-mod-eigene-schiffe-bauen,3369645.html",
            "pubDate": "Tue, 11 May 2021 14:16:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/gs-valheim-mod-schiff_6138543.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "content": "<a href=\"https://www.gamestar.de/artikel/valheim-mod-eigene-schiffe-bauen,3369645.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/gs-valheim-mod-schiff_6138543.jpg\"/></a>Mit einer neuen Mod ist es Fans des Survivalspiels Valheim möglich, Schiffe nach ihren eigenen Vorstellungen und Ideen zu basteln.",
            "contentSnippet": "Mit einer neuen Mod ist es Fans des Survivalspiels Valheim möglich, Schiffe nach ihren eigenen Vorstellungen und Ideen zu basteln.",
            "guid": "https://www.gamestar.de/artikel/valheim-mod-eigene-schiffe-bauen,3369645.html",
            "isoDate": "2021-05-11T14:16:00.000Z"
        },
        {
            "creator": "Jonas Gössling",
            "title": "Assassin's Creed - Assassin's Creed Valhalla live ab 19:30 Uhr - Jules und Jonas spielen das neue DLC »Zorn der Druiden«",
            "link": "https://www.gamestar.de/artikel/assassins-creed-valhalla-live-ab-1930-uhr-jules-und-jonas-spielen-das-neue-dlc-zorn-der-druiden,3369641.html",
            "pubDate": "Tue, 11 May 2021 10:30:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/stream-assassins-creed_6138507.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Jonas Gössling",
            "content": "<a href=\"https://www.gamestar.de/artikel/assassins-creed-valhalla-live-ab-1930-uhr-jules-und-jonas-spielen-das-neue-dlc-zorn-der-druiden,3369641.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/stream-assassins-creed_6138507.jpg\"/></a>Jules und Jonas schauen sich heute ausgiebig den ersten großen Story-DLC zum aktuellen Assassin's Creed an. Seid live dabei!",
            "contentSnippet": "Jules und Jonas schauen sich heute ausgiebig den ersten großen Story-DLC zum aktuellen Assassin's Creed an. Seid live dabei!",
            "guid": "https://www.gamestar.de/artikel/assassins-creed-valhalla-live-ab-1930-uhr-jules-und-jonas-spielen-das-neue-dlc-zorn-der-druiden,3369641.html",
            "isoDate": "2021-05-11T10:30:00.000Z"
        },
        {
            "creator": "Stephanie Schlottag",
            "title": "Minecraft - In dieser spektakulären Steampunk-Stadt stecken sieben Monate Arbeit",
            "link": "https://www.gamestar.de/artikel/minecraft-steampunk-stadt-aderlyon,3369637.html",
            "pubDate": "Tue, 11 May 2021 10:16:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/minecraft-steampunk-city_6138505.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Stephanie Schlottag",
            "content": "<a href=\"https://www.gamestar.de/artikel/minecraft-steampunk-stadt-aderlyon,3369637.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/minecraft-steampunk-city_6138505.jpg\"/></a>Ein Build-Team hat eine wunderschöne, fliegende Stadt gebaut und stellt sie in einem Video vor. Und ihr könnt die Map sogar kostenlos herunterladen.",
            "contentSnippet": "Ein Build-Team hat eine wunderschöne, fliegende Stadt gebaut und stellt sie in einem Video vor. Und ihr könnt die Map sogar kostenlos herunterladen.",
            "guid": "https://www.gamestar.de/artikel/minecraft-steampunk-stadt-aderlyon,3369637.html",
            "isoDate": "2021-05-11T10:16:00.000Z"
        },
        {
            "creator": "Dennis Zirkler",
            "title": "Ashes of Creation - Alpha eures meisterwarteten MMOs verschiebt sich auf Juli",
            "link": "https://www.gamestar.de/artikel/ashes-of-creation-alpha-release-verschiebung,3369639.html",
            "pubDate": "Tue, 11 May 2021 10:15:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/ashes-of-creation_6138506.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Dennis Zirkler",
            "content": "<a href=\"https://www.gamestar.de/artikel/ashes-of-creation-alpha-release-verschiebung,3369639.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/ashes-of-creation_6138506.jpg\"/></a>Der Release-Termin zur Alpha von Ashes of Creation wurde um einen Monat verschoben. Die Entwickler wollen so großer Konkurrenz wie WoW Burning Crusade und ESO Blackwood ausweichen.",
            "contentSnippet": "Der Release-Termin zur Alpha von Ashes of Creation wurde um einen Monat verschoben. Die Entwickler wollen so großer Konkurrenz wie WoW Burning Crusade und ESO Blackwood ausweichen.",
            "guid": "https://www.gamestar.de/artikel/ashes-of-creation-alpha-release-verschiebung,3369639.html",
            "isoDate": "2021-05-11T10:15:00.000Z"
        },
        {
            "creator": "Daniel Feith",
            "title": "Neue Strategiespiele - Wir zeigen die neuen Games von Slitherine",
            "link": "https://www.gamestar.de/artikel/brandneue-strategiespiele-heute-live-im-stream,3369636.html",
            "pubDate": "Tue, 11 May 2021 09:36:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/slitherine-teaser_6138502.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Daniel Feith",
            "content": "<a href=\"https://www.gamestar.de/artikel/brandneue-strategiespiele-heute-live-im-stream,3369636.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/slitherine-teaser_6138502.jpg\"/></a>Die Strategie-Experten von Slitherine stellen im Stream Home of Wargamers 2021 ihre neuen Spiele vor - darunter die Umsetzung einer bekannten Sci-Fi-Marke. Wir analysieren die Neuankündigungen mit Wargames-Experte Alex.",
            "contentSnippet": "Die Strategie-Experten von Slitherine stellen im Stream Home of Wargamers 2021 ihre neuen Spiele vor - darunter die Umsetzung einer bekannten Sci-Fi-Marke. Wir analysieren die Neuankündigungen mit Wargames-Experte Alex.",
            "guid": "https://www.gamestar.de/artikel/brandneue-strategiespiele-heute-live-im-stream,3369636.html",
            "isoDate": "2021-05-11T09:36:00.000Z"
        },
        {
            "creator": "Alexander Köpf",
            "title": "Gesetz gegen Kryptomining - US-Bundesstaat will das Schürfen durch Kryptominingfarmen verbieten - Was steckt dahinter?",
            "link": "https://www.gamestar.de/artikel/us-bundesstaat-kryptomining-verbot,3369626.html",
            "pubDate": "Tue, 11 May 2021 07:41:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/gs-kryptoming-verbot_6138475.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Alexander Köpf",
            "content": "<a href=\"https://www.gamestar.de/artikel/us-bundesstaat-kryptomining-verbot,3369626.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/gs-kryptoming-verbot_6138475.jpg\"/></a>Senatsmitglieder haben einen Gesetzentwurf vorgelegt, der das Schürfen von Bitcoin, Ethereum und Co. unterbinden soll. Was sind die Gründe?",
            "contentSnippet": "Senatsmitglieder haben einen Gesetzentwurf vorgelegt, der das Schürfen von Bitcoin, Ethereum und Co. unterbinden soll. Was sind die Gründe?",
            "guid": "https://www.gamestar.de/artikel/us-bundesstaat-kryptomining-verbot,3369626.html",
            "isoDate": "2021-05-11T07:41:00.000Z"
        },
        {
            "creator": "Sören Wetterau",
            "title": "Azeroth in Valheim - Mod lässt euch die WoW-Welt im Survivalspiel erkunden",
            "link": "https://www.gamestar.de/artikel/valheim-world-of-warcraft-mod-azeroth,3369621.html",
            "pubDate": "Tue, 11 May 2021 07:00:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/valheim-trifft-wow-mod-lässt-euch-azeroth-erkunden_6138449.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Sören Wetterau",
            "content": "<a href=\"https://www.gamestar.de/artikel/valheim-world-of-warcraft-mod-azeroth,3369621.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/valheim-trifft-wow-mod-lässt-euch-azeroth-erkunden_6138449.jpg\"/></a>Bekannte Gebäude haben es längst nach Valheim geschafft. Nun könnt ihr sogar ganz andere Spielewelten erkunden, wie zum Beispiel Azeroth aus WoW.",
            "contentSnippet": "Bekannte Gebäude haben es längst nach Valheim geschafft. Nun könnt ihr sogar ganz andere Spielewelten erkunden, wie zum Beispiel Azeroth aus WoW.",
            "guid": "https://www.gamestar.de/artikel/valheim-world-of-warcraft-mod-azeroth,3369621.html",
            "isoDate": "2021-05-11T07:00:00.000Z"
        },
        {
            "creator": "Nils Raettig",
            "title": "Top-Prozessoren - Grafikkartenmangel macht Nischen-CPUs viel wichtiger",
            "link": "https://www.gamestar.de/artikel/top-prozessoren-amd-ryzen-pro,3369613.html",
            "pubDate": "Tue, 11 May 2021 04:58:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/ryzen-pro-apus_6138423.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Nils Raettig",
            "content": "<a href=\"https://www.gamestar.de/artikel/top-prozessoren-amd-ryzen-pro,3369613.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/ryzen-pro-apus_6138423.jpg\"/></a>In den Top-Listen von Prozessoren finden sich bei Geizhals und Amazon seltene Gäste. Der Grund sind vermutlich die extrem hohen Preise für Grafikkarten.",
            "contentSnippet": "In den Top-Listen von Prozessoren finden sich bei Geizhals und Amazon seltene Gäste. Der Grund sind vermutlich die extrem hohen Preise für Grafikkarten.",
            "guid": "https://www.gamestar.de/artikel/top-prozessoren-amd-ryzen-pro,3369613.html",
            "isoDate": "2021-05-11T04:58:00.000Z"
        },
        {
            "creator": "Dimitry Halley",
            "title": "Battlefield 6 - Es ist offiziell: Battlefield 6 wird im Juni enthüllt",
            "link": "https://www.gamestar.de/artikel/battlefield-6-reveal,3369623.html",
            "pubDate": "Mon, 10 May 2021 18:26:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/battlefield-6_6136612.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Dimitry Halley",
            "content": "<a href=\"https://www.gamestar.de/artikel/battlefield-6-reveal,3369623.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/battlefield-6_6136612.jpg\"/></a>EA und DICE äußern sich endlich zum Reveal von Battlefield 6. Und das dürfte Fans freuen: Die Enthüllung ist schon sehr bald.",
            "contentSnippet": "EA und DICE äußern sich endlich zum Reveal von Battlefield 6. Und das dürfte Fans freuen: Die Enthüllung ist schon sehr bald.",
            "guid": "https://www.gamestar.de/artikel/battlefield-6-reveal,3369623.html",
            "isoDate": "2021-05-10T18:26:00.000Z"
        },
        {
            "creator": "Dennis Zirkler",
            "title": "Trackmania - Spieler löst Geheimnis um legendäre Abkürzung, fliegt über Strecke",
            "link": "https://www.gamestar.de/artikel/trackmania-legendaere-abkuerzung,3369622.html",
            "pubDate": "Mon, 10 May 2021 17:11:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/trackmania-sprung_6138453.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Dennis Zirkler",
            "content": "<a href=\"https://www.gamestar.de/artikel/trackmania-legendaere-abkuerzung,3369622.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/trackmania-sprung_6138453.jpg\"/></a>Nach über zwölf Jahren haben Trackmania Fans eines der größten Rätsel geknackt, indem sie mit einem atemberaubenden Sprung eine legendäre Abkürzung nehmen.",
            "contentSnippet": "Nach über zwölf Jahren haben Trackmania Fans eines der größten Rätsel geknackt, indem sie mit einem atemberaubenden Sprung eine legendäre Abkürzung nehmen.",
            "guid": "https://www.gamestar.de/artikel/trackmania-legendaere-abkuerzung,3369622.html",
            "isoDate": "2021-05-10T17:11:00.000Z"
        },
        {
            "creator": "Sören Wetterau",
            "title": "CoD Warzone - Cheater müssen euch jetzt nicht mal mehr anschauen, um zu treffen",
            "link": "https://www.gamestar.de/artikel/cod-warzone-cheater-ansehen-treffen,3369616.html",
            "pubDate": "Mon, 10 May 2021 15:50:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/weiterhin-suchen-cheater-cod-mw-und-warzone-heim_6107882.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Sören Wetterau",
            "content": "<a href=\"https://www.gamestar.de/artikel/cod-warzone-cheater-ansehen-treffen,3369616.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/weiterhin-suchen-cheater-cod-mw-und-warzone-heim_6107882.jpg\"/></a>Immer neue Cheats sorgen in Warzone weiterhin für Probleme. Nun können Spieler schon Kugeln an Wänden abprallen lassen, um ihr Ziel zu treffen.",
            "contentSnippet": "Immer neue Cheats sorgen in Warzone weiterhin für Probleme. Nun können Spieler schon Kugeln an Wänden abprallen lassen, um ihr Ziel zu treffen.",
            "guid": "https://www.gamestar.de/artikel/cod-warzone-cheater-ansehen-treffen,3369616.html",
            "isoDate": "2021-05-10T15:50:00.000Z"
        },
        {
            "title": "Diablo 2 Resurrected - Neuauflage soll zugänglicher werden, aber nicht einfacher",
            "link": "https://www.gamestar.de/artikel/diablo-2-resurrected-schwierigkeitsgrad,3369609.html",
            "pubDate": "Mon, 10 May 2021 12:45:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/diablo-2-resurrected_6131502.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "content": "<a href=\"https://www.gamestar.de/artikel/diablo-2-resurrected-schwierigkeitsgrad,3369609.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/diablo-2-resurrected_6131502.jpg\"/></a>Blizzard erklärt, dass Diablo 2 mit der Resurrected-Neuauflage zwar zugänglicher werden soll, das wirkt sich aber nicht auf den Schwierigkeitsgrad des Action-Rollenspiel-Klassikers aus.",
            "contentSnippet": "Blizzard erklärt, dass Diablo 2 mit der Resurrected-Neuauflage zwar zugänglicher werden soll, das wirkt sich aber nicht auf den Schwierigkeitsgrad des Action-Rollenspiel-Klassikers aus.",
            "guid": "https://www.gamestar.de/artikel/diablo-2-resurrected-schwierigkeitsgrad,3369609.html",
            "isoDate": "2021-05-10T12:45:00.000Z"
        },
        {
            "creator": "Dennis Zirkler",
            "title": "Steam Charts - Es gibt einen neuen Spitzenreiter und eine große Überraschung",
            "link": "https://www.gamestar.de/artikel/steam-charts-resident-evil-hood,3369601.html",
            "pubDate": "Mon, 10 May 2021 11:29:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/steam-charts-resident-evil-8_6138379.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Dennis Zirkler",
            "content": "<a href=\"https://www.gamestar.de/artikel/steam-charts-resident-evil-hood,3369601.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/steam-charts-resident-evil-8_6138379.jpg\"/></a>Resident Evil Village bekommt nicht nur tolle Wertung, sondern ist auch ein Bestseller - dicht gefolgt von einem neuen Mittelalterspiel.",
            "contentSnippet": "Resident Evil Village bekommt nicht nur tolle Wertung, sondern ist auch ein Bestseller - dicht gefolgt von einem neuen Mittelalterspiel.",
            "guid": "https://www.gamestar.de/artikel/steam-charts-resident-evil-hood,3369601.html",
            "isoDate": "2021-05-10T11:29:00.000Z"
        },
        {
            "creator": "Stephanie Schlottag",
            "title": "Battlefield 6 - Weil der Reveal auf sich warten lässt, werden Fans kreativ",
            "link": "https://www.gamestar.de/artikel/battlefield-6-reveal-wartezeit-kreative-fans,3369598.html",
            "pubDate": "Mon, 10 May 2021 11:01:00 GMT",
            "enclosure": {
                "url": "https://images.cgames.de/images/gamestar/112/battlefield-5_6050644.jpg",
                "length": "0",
                "type": "image/jpeg"
            },
            "dc:creator": "Stephanie Schlottag",
            "content": "<a href=\"https://www.gamestar.de/artikel/battlefield-6-reveal-wartezeit-kreative-fans,3369598.html\"><img align=\"left\" hspace=\"5\" src=\"https://images.cgames.de/images/gamestar/112/battlefield-5_6050644.jpg\"/></a>EA spannt die Battlefield-Fans ganz schön auf die Folter, vom ersten, offiziellen Trailer fehlt weiter jede Spur. Die Community nimmt es mit Humor.",
            "contentSnippet": "EA spannt die Battlefield-Fans ganz schön auf die Folter, vom ersten, offiziellen Trailer fehlt weiter jede Spur. Die Community nimmt es mit Humor.",
            "guid": "https://www.gamestar.de/artikel/battlefield-6-reveal-wartezeit-kreative-fans,3369598.html",
            "isoDate": "2021-05-10T11:01:00.000Z"
        },
        {
            "title": "E3-Trailer erklärt die drei Elemente von Borderlands 3: Shoot, Loot... Shloot?",
            "link": "https://www.gamestar.de/videos/e3-trailer-erklaert-die-drei-elemente-von-borderlands-3-shoot-loot-shloot,99086.html",
            "pubDate": "Wed, 12 Jun 2019 20:49:00 GMT",
            "content": "",
            "contentSnippet": "",
            "guid": "https://www.gamestar.de/videos/e3-trailer-erklaert-die-drei-elemente-von-borderlands-3-shoot-loot-shloot,99086.html",
            "isoDate": "2019-06-12T20:49:00.000Z"
        },
        {
            "title": "World of Warcraft: Battle for Azeroth - Im Cinematic-Trailer »Trautes Heim« holt sich Saurfang Hilfe bei einem alten Anführer",
            "link": "https://www.gamestar.de/videos/world-of-warcraft-battle-for-azeroth-im-cinematic-trailer-trautes-heim-holt-sich-saurfang-hilfe-bei-einem-alten-anfuehrer,98881.html",
            "pubDate": "Wed, 15 May 2019 15:44:00 GMT",
            "content": "Im Cinematic-Trailer »Trautes Heim« holt sich Saurfang Hilfe bei einem alten Anführer",
            "contentSnippet": "Im Cinematic-Trailer »Trautes Heim« holt sich Saurfang Hilfe bei einem alten Anführer",
            "guid": "https://www.gamestar.de/videos/world-of-warcraft-battle-for-azeroth-im-cinematic-trailer-trautes-heim-holt-sich-saurfang-hilfe-bei-einem-alten-anfuehrer,98881.html",
            "isoDate": "2019-05-15T15:44:00.000Z"
        },
        {
            "title": "World of Warcraft: Battle for Azeroth - Im Cinematic-Trailer »Trautes Heim« holt sich Saurfang Hilfe bei einem alten Anführer",
            "link": "https://www.gamestar.de/videos/world-of-warcraft-battle-for-azeroth-im-cinematic-trailer-trautes-heim-holt-sich-saurfang-hilfe-bei-einem-alten-anfuehrer,98881.html",
            "pubDate": "Wed, 15 May 2019 15:25:00 GMT",
            "content": "Im Cinematic-Trailer »Trautes Heim« holt sich Saurfang Hilfe bei einem alten Anführer",
            "contentSnippet": "Im Cinematic-Trailer »Trautes Heim« holt sich Saurfang Hilfe bei einem alten Anführer",
            "guid": "https://www.gamestar.de/videos/world-of-warcraft-battle-for-azeroth-im-cinematic-trailer-trautes-heim-holt-sich-saurfang-hilfe-bei-einem-alten-anfuehrer,98881.html",
            "isoDate": "2019-05-15T15:25:00.000Z"
        },
        {
            "title": "Rage 2 bekommt zum Launch seinen bisher besten Trailer",
            "link": "https://www.gamestar.de/videos/rage-2-bekommt-zum-launch-seinen-bisher-besten-trailer,98865.html",
            "pubDate": "Fri, 10 May 2019 16:19:00 GMT",
            "content": "",
            "contentSnippet": "",
            "guid": "https://www.gamestar.de/videos/rage-2-bekommt-zum-launch-seinen-bisher-besten-trailer,98865.html",
            "isoDate": "2019-05-10T16:19:00.000Z"
        },
        {
            "title": "Wann fühlt sich ein Kampf gut an? - Mit welchen Kniffen uns die Entwickler mächtig fühlen lassen",
            "link": "https://www.gamestar.de/videos/wann-fuehlt-sich-ein-kampf-gut-an-mit-welchen-kniffen-uns-die-entwickler-maechtig-fuehlen-lassen,98813.html",
            "pubDate": "Tue, 30 Apr 2019 13:00:00 GMT",
            "content": "Mit welchen Kniffen uns die Entwickler mächtig fühlen lassen",
            "contentSnippet": "Mit welchen Kniffen uns die Entwickler mächtig fühlen lassen",
            "guid": "https://www.gamestar.de/videos/wann-fuehlt-sich-ein-kampf-gut-an-mit-welchen-kniffen-uns-die-entwickler-maechtig-fuehlen-lassen,98813.html",
            "isoDate": "2019-04-30T13:00:00.000Z"
        },
        {
            "title": "Wieso kommt es immer wieder zu Crunch? - Deutsche Entwickler über den Stress in der Endphase",
            "link": "https://www.gamestar.de/videos/wieso-kommt-es-immer-wieder-zu-crunch-deutsche-entwickler-ueber-den-stress-in-der-endphase,98805.html",
            "pubDate": "Sun, 28 Apr 2019 09:03:00 GMT",
            "content": "Deutsche Entwickler über den Stress in der Endphase",
            "contentSnippet": "Deutsche Entwickler über den Stress in der Endphase",
            "guid": "https://www.gamestar.de/videos/wieso-kommt-es-immer-wieder-zu-crunch-deutsche-entwickler-ueber-den-stress-in-der-endphase,98805.html",
            "isoDate": "2019-04-28T09:03:00.000Z"
        },
        {
            "title": "»Papa, ich bin auf Fortnite« - Wie sollten Eltern mit dem Spielverhalten der Kinder umgehen? - GameStar TV",
            "link": "https://www.gamestar.de/videos/mama-ich-bin-auf-fortnite-wie-sollten-eltern-mit-dem-spielverhalten-der-kinder-umgehen-gamestar-tv,98800.html",
            "pubDate": "Fri, 26 Apr 2019 15:00:00 GMT",
            "content": "Wie sollten Eltern mit dem Spielverhalten der Kinder umgehen? - GameStar TV",
            "contentSnippet": "Wie sollten Eltern mit dem Spielverhalten der Kinder umgehen? - GameStar TV",
            "guid": "https://www.gamestar.de/videos/mama-ich-bin-auf-fortnite-wie-sollten-eltern-mit-dem-spielverhalten-der-kinder-umgehen-gamestar-tv,98800.html",
            "isoDate": "2019-04-26T15:00:00.000Z"
        },
        {
            "title": "Spielestreaming, Voxel und transmediales Erzählen - Holgers Erfahrungsbericht von der Entwicklerkonferenz - GameStar TV",
            "link": "https://www.gamestar.de/videos/spielestreaming-voxel-und-transmediales-erzaehlen-die-spiele-trends-2019-von-der-reboot-gamestar-tv,98754.html",
            "pubDate": "Wed, 17 Apr 2019 17:15:00 GMT",
            "content": "Holgers Erfahrungsbericht von der Entwicklerkonferenz - GameStar TV",
            "contentSnippet": "Holgers Erfahrungsbericht von der Entwicklerkonferenz - GameStar TV",
            "guid": "https://www.gamestar.de/videos/spielestreaming-voxel-und-transmediales-erzaehlen-die-spiele-trends-2019-von-der-reboot-gamestar-tv,98754.html",
            "isoDate": "2019-04-17T17:15:00.000Z"
        },
        {
            "title": "Anno 1800 (Video) - Das schönste Anno im Detailstufenvergleich",
            "link": "https://www.gamestar.de/videos/anno-1800-niedrige-hohe-und-ultrahohe-details-im-grafikvergleich,98737.html",
            "pubDate": "Mon, 15 Apr 2019 10:05:00 GMT",
            "content": "Das schönste Anno im Detailstufenvergleich",
            "contentSnippet": "Das schönste Anno im Detailstufenvergleich",
            "guid": "https://www.gamestar.de/videos/anno-1800-niedrige-hohe-und-ultrahohe-details-im-grafikvergleich,98737.html",
            "isoDate": "2019-04-15T10:05:00.000Z"
        },
        {
            "title": "Star Wars Jedi: Fallen Order - Werde zum Jedi: Reveal-Trailer stellt Held und Story vor",
            "link": "https://www.gamestar.de/videos/star-wars-jedi-fallen-order-werde-zum-jedi-reveal-trailer-stellt-held-und-story-vor,98730.html",
            "pubDate": "Sat, 13 Apr 2019 18:53:00 GMT",
            "content": "Werde zum Jedi: Reveal-Trailer stellt Held und Story vor",
            "contentSnippet": "Werde zum Jedi: Reveal-Trailer stellt Held und Story vor",
            "guid": "https://www.gamestar.de/videos/star-wars-jedi-fallen-order-werde-zum-jedi-reveal-trailer-stellt-held-und-story-vor,98730.html",
            "isoDate": "2019-04-13T18:53:00.000Z"
        },
        {
            "title": "Die Zukunft von Battlefield 5 - Ausblick auf kommende Inhalte",
            "link": "https://www.gamestar.de/videos/die-zukunft-von-battlefield-5-ausblick-auf-kommende-inhalte,98704.html",
            "pubDate": "Thu, 11 Apr 2019 15:46:00 GMT",
            "content": "Ausblick auf kommende Inhalte",
            "contentSnippet": "Ausblick auf kommende Inhalte",
            "guid": "https://www.gamestar.de/videos/die-zukunft-von-battlefield-5-ausblick-auf-kommende-inhalte,98704.html",
            "isoDate": "2019-04-11T15:46:00.000Z"
        },
        {
            "title": "Wolcen in der Beta - Open World raus, mehr Diablo rein",
            "link": "https://www.gamestar.de/videos/wolcen-in-der-beta-open-world-raus-mehr-diablo-rein,98703.html",
            "pubDate": "Wed, 10 Apr 2019 16:00:00 GMT",
            "content": "Open World raus, mehr Diablo rein",
            "contentSnippet": "Open World raus, mehr Diablo rein",
            "guid": "https://www.gamestar.de/videos/wolcen-in-der-beta-open-world-raus-mehr-diablo-rein,98703.html",
            "isoDate": "2019-04-10T16:00:00.000Z"
        },
        {
            "title": "Satisfactory - Factorio-Spaß mit 3D-Grafik",
            "link": "https://www.gamestar.de/videos/satisfactory-factorio-spass-mit-3d-grafik,98702.html",
            "pubDate": "Wed, 10 Apr 2019 15:36:00 GMT",
            "content": "Factorio-Spaß mit 3D-Grafik",
            "contentSnippet": "Factorio-Spaß mit 3D-Grafik",
            "guid": "https://www.gamestar.de/videos/satisfactory-factorio-spass-mit-3d-grafik,98702.html",
            "isoDate": "2019-04-10T15:36:00.000Z"
        },
        {
            "title": "Der neue Trailer zu Disneys Der König der Löwen - Neben Simba sind endlich auch Timon und Pumbaa dabei",
            "link": "https://www.gamestar.de/videos/disneys-der-koenig-der-loewen-im-neuen-trailer-sind-endlich-auch-timon-und-pumbaa-dabei,98716.html",
            "pubDate": "Wed, 10 Apr 2019 13:30:00 GMT",
            "content": "Neben Simba sind endlich auch Timon und Pumbaa dabei",
            "contentSnippet": "Neben Simba sind endlich auch Timon und Pumbaa dabei",
            "guid": "https://www.gamestar.de/videos/disneys-der-koenig-der-loewen-im-neuen-trailer-sind-endlich-auch-timon-und-pumbaa-dabei,98716.html",
            "isoDate": "2019-04-10T13:30:00.000Z"
        },
        {
            "title": "Subnautica: Below Zero - 12 tolle, neue Kreaturen aus der Fortsetzung im Video",
            "link": "https://www.gamestar.de/videos/subnautica-below-zero-12-tolle-neue-kreaturen-aus-der-fortsetzung,98697.html",
            "pubDate": "Tue, 09 Apr 2019 16:58:00 GMT",
            "content": "12 tolle, neue Kreaturen aus der Fortsetzung im Video",
            "contentSnippet": "12 tolle, neue Kreaturen aus der Fortsetzung im Video",
            "guid": "https://www.gamestar.de/videos/subnautica-below-zero-12-tolle-neue-kreaturen-aus-der-fortsetzung,98697.html",
            "isoDate": "2019-04-09T16:58:00.000Z"
        },
        {
            "title": "The Division 2 - So findet ihr 5 geheime Missionen",
            "link": "https://www.gamestar.de/videos/the-division-2-so-findet-ihr-5-geheime-missionen,98701.html",
            "pubDate": "Tue, 09 Apr 2019 15:32:00 GMT",
            "content": "So findet ihr 5 geheime Missionen",
            "contentSnippet": "So findet ihr 5 geheime Missionen",
            "guid": "https://www.gamestar.de/videos/the-division-2-so-findet-ihr-5-geheime-missionen,98701.html",
            "isoDate": "2019-04-09T15:32:00.000Z"
        },
        {
            "title": "Avengers: Endgame - Erster Film-Clip verrät, warum Captain Marvel erst jetzt in den Kampf eingreift",
            "link": "https://www.gamestar.de/videos/avengers-endgame-erster-film-clip-verraet-warum-captain-marvel-erst-jetzt-in-den-kampf-eingreift,98709.html",
            "pubDate": "Tue, 09 Apr 2019 10:00:00 GMT",
            "content": "Erster Film-Clip verrät, warum Captain Marvel erst jetzt in den Kampf eingreift",
            "contentSnippet": "Erster Film-Clip verrät, warum Captain Marvel erst jetzt in den Kampf eingreift",
            "guid": "https://www.gamestar.de/videos/avengers-endgame-erster-film-clip-verraet-warum-captain-marvel-erst-jetzt-in-den-kampf-eingreift,98709.html",
            "isoDate": "2019-04-09T10:00:00.000Z"
        },
        {
            "title": "Borderlands HD - Was ist in der Game of the Year Edition jetzt besser?",
            "link": "https://www.gamestar.de/videos/borderlands-hd-was-ist-in-der-game-of-the-year-edition-jetzt-besser,98696.html",
            "pubDate": "Mon, 08 Apr 2019 15:48:00 GMT",
            "content": "Was ist in der Game of the Year Edition jetzt besser?",
            "contentSnippet": "Was ist in der Game of the Year Edition jetzt besser?",
            "guid": "https://www.gamestar.de/videos/borderlands-hd-was-ist-in-der-game-of-the-year-edition-jetzt-besser,98696.html",
            "isoDate": "2019-04-08T15:48:00.000Z"
        },
        {
            "title": "Dead Island ist zurück - USK-Veröffentlichung der Definitive Editions in Deutschland",
            "link": "https://www.gamestar.de/videos/dead-island-ist-zurueck-usk-veroeffentlichung-der-definitive-editions-in-deutschland,98695.html",
            "pubDate": "Mon, 08 Apr 2019 15:30:00 GMT",
            "content": "USK-Veröffentlichung der Definitive Editions in Deutschland",
            "contentSnippet": "USK-Veröffentlichung der Definitive Editions in Deutschland",
            "guid": "https://www.gamestar.de/videos/dead-island-ist-zurueck-usk-veroeffentlichung-der-definitive-editions-in-deutschland,98695.html",
            "isoDate": "2019-04-08T15:30:00.000Z"
        },
        {
            "title": "Indiana Jones als Strategie-RPG - Launch-Trailer zu Pathway zeigt die Jagd auf Artefakte & Nazis",
            "link": "https://www.gamestar.de/videos/indiana-jones-als-strategie-rpg-launch-trailer-zu-pathway-zeigt-die-jagd-auf-artefakte-nazis,98700.html",
            "pubDate": "Mon, 08 Apr 2019 13:36:00 GMT",
            "content": "Launch-Trailer zu Pathway zeigt die Jagd auf Artefakte &amp; Nazis",
            "contentSnippet": "Launch-Trailer zu Pathway zeigt die Jagd auf Artefakte & Nazis",
            "guid": "https://www.gamestar.de/videos/indiana-jones-als-strategie-rpg-launch-trailer-zu-pathway-zeigt-die-jagd-auf-artefakte-nazis,98700.html",
            "isoDate": "2019-04-08T13:36:00.000Z"
        }
    ],
    "image": {
        "link": "https://www.gamestar.de",
        "url": "https://www.gamestar.de/images/gslogo100x60.jpg",
        "title": "GameStar",
        "width": "100",
        "height": "60"
    },
    "title": "GameStar - News",
    "description": "News und Hintergründe aus der Welt der PC-Spiele.",
    "pubDate": "Fri, 14 May 2021 07:42:00 GMT",
    "webMaster": "webmaster@GameStar.de",
    "managingEditor": "webmaster@GameStar.de",
    "link": "https://www.gamestar.de/",
    "language": "de",
    "copyright": "Copyright 2021, GameStar",
    "lastBuildDate": "Fri, 14 May 2021 07:42:00 GMT"
}
              }
            })
          </script>
    </body>
</html>